@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}



.area{
    background: antiquewhite;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 147, 24);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

h1{
    color: rgb(255, 147, 24);
     background-color: rgb(255, 147, 24);;
    text-align: center;
    font-size : 120px;
    font-family: 'Poppins', sans-serif;
} 


h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

form{
    text-align: center;
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size : 16px;
    color: rgb(126, 126, 126);
}

.masuk{
    border: none;
    height: 25px;
    width: 240px;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    text-indent: 10px
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center{
    display: block;
    position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -13em;
  width: relative;
}

img{
    width: 250px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.kotak{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 1em;
    height: 28px;
    padding-top: 0.3em;
    padding-bottom: 0.32em;
    width: 240px;
    color: rgb(255, 255, 255);
    background: rgb(255, 147, 24);
    border-radius: 10px;
}

/* input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} */
/* ==================== FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ================== VARIABLES ================== */
:root {

  /* Colors */
  --first-color: rgba(222, 113, 25, 1);
  --first-color-alt: rgba(17, 105, 121, 1);
  --title-color: rgba(0, 0, 0, 1);
  --text-color: rgba(73, 73, 73, 1);
  --link-color: rgba(36, 99, 134, 1);
  --body-color: rgba(222, 227, 226, 1);
  --input-color: rgba(196, 196, 196, 1);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

}

/* ========== BASE ========== */
*, ::before, ::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

a {
 text-decoration: none;
}

/* ========== NAVBAR ========== */
.nav-box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-logo img {
    width: 131px;
}

.nav-link {
    font-size: 18px;
    color: var(--title-color);
}

.btn {
    background-color: var(--first-color);
    color: #D8D8D8;
    font-weight: 700;
}

.btn-md {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notification {
    text-align: center;
    width: 30px;
}

.profile-edit {
    display: flex;
    font-size: 25px;
}

.profile-edit .bx {
    margin-left: 10px;
}

.profile-pict {
    border-radius: 50%;
    width: 60px;
}

main.dashboard {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard-title {
    font-size: 60px;
    color: var(--first-color);
    font-weight: bolder;
}

.profile-img {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.profile-data {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 900px;
    border-radius: 25px;
    background: var(--text-color);
    color: var(--body-color);
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.profile-data .bx {
    font-size: 30px;
}

main.dashboard .btn {
    width: 366px;
    height: 60px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 20px;
}
